body {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin-top: 20px;
}

input {
  display: block;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.invalid {
  background-color: pink;
}

.error {
  color: red;
  margin-top: 0px;
}